@mixin font-face($font-family, $font-path, $font-weight, $font-style: normal) {
  @font-face {
    font-family: #{$font-family};
    src: url("#{$font-path}.woff2") format("woff2"),
      url("#{$font-path}.woff") format("woff"),
      url("#{$font-path}.ttf") format("truetype"),
      url("#{$font-path}.otf") format("opentype");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
