// colors
$lightPrimary: #4ba5ec;
$lightWhite: #ffffff;
$lightDivider: #d5e4f7;
$lightInputs: #e8f2ff;
$darkText: #06253c;
$darkHeading: #233240;
$darkSwitch: #3a4857;
$greySecondary: #51606f;
$greyBorder: #b9c8da;

// fonts
